/***---------------------------***/
/***----Global styling SECTION-----***/
/***---------------------------***/
* {
  cursor: url(../img/swirl2.png), auto;
}

@font-face {
  font-family: Musicals;
  src: url("../fonts/musicals.ttf");
}

@font-face {
  font-family: Rash;
  src: url("../fonts/ARashNaziBlurb.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
  background-color: black;
  overflow-x: hidden;
}

/***---------------------------***/
/***--end global styling SECTION--***/
/***---------------------------***/

main {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10%;
  /* -webkit-animation:spin 20s linear infinite;
  -moz-animation:spin 20s linear infinite;*/
  /* animation:spin 20s linear infinite; */
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

main:hover {
  animation-play-state: paused;
}

section {
  display: grid;
  /* border-style: dotted; */
  /* background-image: url(https://media2.giphy.com/media/YUjv4LRMQrirCIyWEv/giphy.gif?cid=790b7611172d270e4681e12fa9a343f5a6187b13ad08ca4a&rid=giphy.gif); */
  background-repeat: center;
  padding-top: 25%;
  padding-bottom: 25%;

  /* clip-path: polygon(100% 48%, 91% 39%, 82% 33%, 72% 28%, 59% 24%, 50% 23%, 40% 24%, 28% 27%, 16% 31%, 8% 34%, 2% 39%, 6% 45%, 9% 50%, 11% 57%, 12% 64%, 12% 71%, 12% 77%, 9% 86%, 0 100%, 20% 85%, 31% 76%, 38% 70%, 49% 64%, 61% 59%, 71% 55%, 83% 50%); */
  color: white;
  /* background-color: red; */
  /* animation:spin 5s linear infinite; */
  /* border-radius: 50%; */

  /* animation:borderRad 1s linear infinite; */
}

section > label > header h2 {
  /* mix-blend-mode: exclusion; */
  font-family: Musicals;
  font-size: 2rem;
}

section article {
  font-family: Rash;
  font-size: 1.5rem;
  background-color: black;
}

section {
  mix-blend-mode: difference;
}
article {
  mix-blend-mode: exclusion;
}

section {
  text-align: center;
}

/* @keyframes borderRad {
  0%,
  100% {
    border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;
  }
  25% {
    border-radius: 73% 27% 26% 38% / 73% 36% 64% 27%;
  }
  50% {
    border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
  }
} */

section {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  color: white;
}

/***---------------------------***/
/***----Checkbox hack SECTION-----***/
/***---------------------------***/

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] ~ article,
blockquote,
p {
  display: none;
}

input[type="checkbox"]:checked ~ article {
  display: block;
  mix-blend-mode: darken;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}

/***---------------------------***/
/***----End ofheckbox hack SECTION-----***/
/***---------------------------***/

section:focus-within {
  transform: rotate(0deg);
}

section:nth-of-type(2):focus-within {
  transform: rotate(0deg);
}

section:nth-of-type(3):focus-within {
  transform: rotate(0deg);
}

section:nth-of-type(4):focus-within {
  transform: rotate(0deg);
}

section {
  transform: rotate(-45deg);
  transition: transform 0.8s ease-in-out;
}

section:nth-child(2) {
  transform: rotate(45deg);
}

section:nth-child(3) {
  transform: rotate(-135deg);
}

section:nth-child(4) {
  transform: rotate(135deg);
}

/***---------------------------***/
/***----Main title SECTION-----***/
/***---------------------------***/

h1 {
  text-align: center;
  color: #fff;
  font-size: 5em;
  letter-spacing: 8px;
  font-family: Musicals;
  font-weight: 400;
  /*Create overlap*/

  margin: 0;
  line-height: 0;
  /*Animation*/

  animation: glitch1 2.5s infinite;
}

h1:nth-child(2) {
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}

h1:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
}

/***---------------------------***/
/***--End main title SECTION---***/
/***---------------------------***/

body > header {
  padding-top: 5%;
  z-index: 5;
  position: relative;
}

/***---------------------------***/
/***----End ofeyes SECTION-----***/
/***---------------------------***/

body {
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 2s ease infinite;
}

/***---------------------------***/
/***ANIMATION KEYFRAMES SECTION***/
/***---------------------------***/

/***---------------------------***/
/*** Start rainbow animation ***/
/***---------------------------***/

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

/*** End rainbow ***/

/*** Start glitch animations ***/
@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
/*** End glitch animations ***/

@keyframes filterColor {
  0% {
    filter: hue-rotate(0deg);
  }

  25% {
    filter: hue-rotate(90deg);
  }

  50% {
    filter: hue-rotate(180deg);
  }

  75% {
    filter: hue-rotate(270deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

section div {
  z-index: -1;
  width: 100%;
  height: 100%;
  color: hsla(295, 100%, 50%, 1);
  border-radius: 20%;
  position: absolute;
  animation: filterColor 2s infinite;
}

section div > div:nth-of-type(1) {
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(0%, 0%);
  background-color: hsla(103, 100%, 50%, 1);

  border-style: dotted;
  border-width: 40px;
  transform: translate(-50%, -50%);

  /* mix-blend-mode: difference; */
}

section div > div:nth-child(1) {
  mix-blend-mode: difference;
}

section:nth-of-type(3) div > div:nth-of-type(1) {
  border-style: dashed;
}

section:nth-of-type(2) div > div:nth-of-type(1) {
  border-style: solid;
}
section:nth-of-type(4) div > div:nth-of-type(1) {
  border-style: double;
}


/***---------------------------***/
/*** Dark mode ***/
/***---------------------------***/

@media (prefers-color-scheme: dark) {
  section div {
    color: hsla(292, 100%, 17%, 1);
  }

  section div > div:nth-of-type(1) {
    background-color: hsla(103, 100%, 18%, 1);
  }

  body {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;

    background: linear-gradient(
      124deg,
      #616161,
      #3f3f3f,
      #111111,
      #313122,
      #172c1b,
      #0f2b2c,
      #0b0925,
      #200622,
      #250029
    );
    background-size: 1800% 1800%;
  }

  input[type="checkbox"]:checked ~ article {
    mix-blend-mode: luminosity;
  }
}

/***---------------------------***/
/*** Print stylesheet ***/
/***---------------------------***/

@media print {
  @page {
    size: A4 landscape;
  }

  body {
    animation-play-state: paused;
    -webkit-print-color-adjust: exact;
    height: 100%;
  }

  main {
    grid-gap: 1%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  section {
    transform: rotate(0deg);
    width: 100%;
    height: 55%;
  }

  section:nth-child(2) {
    transform: rotate(0deg);
  }

  section:nth-child(3) {
    transform: rotate(0deg);
  }

  section:nth-child(4) {
    transform: rotate(0deg);
  }

  section > label > header h2 {
    mix-blend-mode: color-dodge;
  }

  input[type="checkbox"] ~ article {
    all: unset;
    font-size: 1.5rem;
    height: 100%;
  }
}

@media (prefers-reduced-motion: reduce) {
  body {
    animation-play-state: paused;
  }

  section div{
    animation-play-state: paused;
  }
}